@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: rgb(226, 225, 225);
}
h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Indie Flower";
}
img{
   width: 120px;
   height: auto;
}

.snoopy {
    position: fixed;
    bottom: -40px;
    right: 2px;
    width: 250px;
}
