body{
    background-color: rgb(226, 225, 225);
}
.imagens1 {
    width: 200px;
    position: fixed;
    right: 1280px;
}
.imagens2{
    width: 450px;
    position: fixed;
    right: 820px;
}
.imagens3{
    width: 200px;
    position: fixed;
    right: 645px;
}    
.snoopy {
    position: fixed;
    bottom: -1px;
    width: 400px;
    height: 709px;
    right: -176px;
}   
img {
   width: 120px;
    height: auto;
}